.body1{
    background-color: antiquewhite;
    font-family: Verdana;
}

.flex-container{
    margin: 10px;
    padding: 5px;
}

.flex-item{
    padding: 5px;
    font: 900 18px "Roboto", sans-serif;
    color: black;
       
}

.header{
    border: 3px solid;
    border-color: goldenrod;
    background-color: bisque;
}

.mit{
    text-align: center;
}

.kurs{
    font-style: italic;
}

.info-text{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid red;
    background-color: bisque;
    text-align: left;
}


.linksLabel{
    margin-top: 5px;
    margin-bottom: 5px;
   text-align: center;
}

.linksborder{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;

}
.homeworkLins{
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;    
    text-align: left;
    
    background-color: rgb(212, 120, 0); 
    display: flex;
    
    
}
.hw1{
    flex-direction: column;
    padding: 2px;
    width: 140px;
}


.yt-text{
    
}
.youtube{
  
}
