.body1{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    border: 3px solid;
    border-color: goldenrod;
    background-color: bisque;
}

.mit{
    text-align: center;
}

.kurs{
    font-style: italic;
}

.info-text{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    background-color: bisque;

}
.linksborder{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
}
.linksLabel{
    margin-bottom: 10px;
   text-align: center;
}
.homebord{
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 42%;
    text-align: center;
    width: 100px;
    background-color: rgb(212, 120, 0); 
    
}

.homebordLabel{
    margin-bottom: 10px;
    text-align: center;
}
.homebord1{
    margin-bottom: 10px;
    border: 2px solid;
}

.yt{
    position: relative;
    top: 23px;
}

.yt-text{
    margin-top: 130px;
}
.youtube{
    margin: 10px;
}
.vid{
    display: inline-block;
    margin: 2px;
}