h1{
text-align: center;
font-style: italic;
color: #007272;
}

h2{
    
    font-style: italic;
    font-weight: lighter;
    color: #007272;
    }
    
.kursiv{
    font-style:italic
}
.fett{
    font-weight: bold;
}
.marker{
background-color: #2ff1f1;

}
.centr{
    text-align: center;
}